:root{

    --primary : #464141;

    --bg: #010101;

}

*{
    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff:;
}

/* Navdar */
.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(1, 1, );
}
